.app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.app__input {
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  padding-top: 0px;
  padding-left: 0.5rem;
  width: 13rem;
 
}
.app__searchIcon{
  margin-left: 15px;
  margin-top: 3px;
}
.whole{
    border: 1px solid black;
    display: flex;
    border-radius: 99px;
    padding: 5px;
   
}
form button {
  display: none;
}

/* @media (max-width: 760px) {
  .nav__logo {
    display: none;
  }
} */